
:root{
    --primary : #F2522E;
    --secondary :#333136;
    --tertiary : #ACDAF2;
    --white : #EFF8FF;
    --theFourth : #F56A31;
  }
  
  *{
    box-sizing: border-box;
  }


.product_container{
  display: grid;
  grid-template-columns: 220px 1fr;
  position: relative;
}

.product_filter_main_container{
   height: 87vh;
   width: 100%;
   overflow: scroll;
   overflow-x: hidden;
}

.product_filter_container{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.product_navlink{
  font-size: 1.4rem;
  text-decoration: none;
  
}

.product_main_content{
  border: 1px solid red;
  width: 220px;
  padding-left: 2rem;
  /* position: absolute; */
  /* box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1); */
  margin-top: 1px;
  /* margin-right: 2rem; */
  
}
.product_price_title{
  margin-bottom: 0;
}

.product_slider{
  accent-color: grey;
  outline: none;
  width: 100%;
}

.product_slider_value{
   display: flex;
   justify-content: space-between;
   margin-left: 4px;
}

.product_aside_content{
  border: 1px solid green;
}

.product_aside_content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  gap: 2rem;

  overflow: scroll;
  height: 87vh;
  overflow-x: hidden;
  
}

.product_aside_content_figures{
  /* width: 240px;
  height: 300px;
  border: 1px solid var(--secondary); */
  /* padding: 10px; */

 display: flex;
 flex-direction: column;
 gap: 0.5rem;

 position: relative;

  width: 240px;
  height: 340px;

  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.49);
  font-family: "Maven Pro", sans-serif;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  /* border: 1px solid grey; */
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
}

/* .product_aside_content_figures:hover{
  transition: ;
} */



.product_aside_content_figures img{
   width: 100%;
   height: 200px;
   object-fit: fill;
}


.product_aside_content_figures h4, .product_aside_content_figures p {
  margin: 0;
}

.product_category_name, .productPrice{
  padding: 5px;
}

.productPrice{
  display: flex;
  justify-content: space-between;
}

.product_rating_figures{
  position: absolute;
  z-index: 2;
  top: 50%;
  background-color: var(--primary);
  box-sizing: border-box;
  padding: 5px;
  border-radius:0 5px 5px 0;
  color: var(--white);
  
}

.wishlist_button{
  position: absolute;
  z-index: 2;
  right: -3%;
  background-color: var(--primary);
  box-sizing: border-box;
  border: none;
  border-radius: 0 0 0 5px ;
}

.wishlist_button .wish_icon{
  font-size: 2rem;
  color: var(--white);
}


.product_aside_content_figures .add_button {
  margin: 0 5px;
  font-size: 25px;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 5px;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.add_button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.add_button span:after{
  content: '\00bb' ;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.add_button:hover span{
  padding-right: 25px;
}

.add_button:hover span:after{
  opacity: 1;
  right: 0;
}