* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product_container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.product_filter_main_container hr {
  margin: 1rem 0;
}

.filters_heading {
  margin-bottom: 0.5rem;
}

.product_filter_main_container .padding_bottom {
  margin-bottom: 0.5rem;
}

.product_filter_main_container {
  height: 87vh;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  accent-color: var(--primary);
  scroll-behavior: smooth;
  margin: auto;
  padding: 1rem 0.5rem;
}

.product_filter_main_container input {
  accent-color: var(--primary);
}

.product_filter_container {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.product_navlink {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.product_main_content {
  width: 250px;
  padding-left: 2rem;
  margin-top: 1px;
  position: absolute;
  left: -20rem;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.show_Filters {
  left: 0;
}

.filter_icon svg {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--primary);
  background-color: var(--white);
  z-index: 999;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  border-radius: 5px;
  padding: 5px;
}

.product_price_title {
  margin-bottom: 0;
}

.product_slider {
  accent-color: var(--primary);
  outline: none;
  width: 80%;
  margin: auto;
}

.product_slider_value {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  font-size: 13px;
  margin-left: 4px;
  width: 80%;
}

.product_aside_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  gap: 12px;
  width: 100%;

  overflow: scroll;
  height: 88vh;
  overflow-x: hidden;
}

.product_aside_content_figures {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  padding: 10px;

  position: relative;

  width: 240px;
  height: 425px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Maven Pro", sans-serif;
  overflow: hidden;
  border-radius: 6px;
  text-align: left;
  cursor: pointer;
}

.product_aside_content_figures:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.image_scale_div {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.image_scale_div img:hover {
  transform: translate3d(0px, 0px, 0px) scale3d(1.2, 1.2, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}

.product_aside_content_figures img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  vertical-align: middle;
  display: inline-block;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.product_aside_content_figures h4,
.product_aside_content_figures p {
  margin: 0;
}

.product_category_name p {
  font-size: 14px;
  margin-bottom: 2px;
}
.product_category_name h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product_rating_category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productPrice {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  padding: 4px;
}

.del {
  color: var(--compliment);
  margin-left: 8px;
}

.product_rating_figures {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  color: var(--primary);
}

.product_rating_icon {
  font-size: 18px;
}

.wishlist_button {
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 14px;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-radius: 0 0 0 5px;
  cursor: pointer;
  outline: none;
}

.wishlist_button .wish_icon {
  font-size: 1.7rem;
  color: var(--white);
  stroke-width: 0px;
}

.wishlist_button svg:hover {
  color: var(--red);
}

.wishlist_button .wish_icon2 {
  font-size: 1.7rem;
  color: var(--red);
  stroke-width: 0px;
}

.product_aside_content_figures .add_button {
  margin: 8px 5px;
  font-size: 14px;
  padding: 8px 0;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 5px;
  border-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.add_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.add_button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.add_button:hover span {
  padding-right: 25px;
}

.add_button:hover span:after {
  opacity: 1;
  right: 0;
}

.remove_button {
  width: 100%;
  margin: 8px 0px;
  font-size: 14px;
  padding: 8px 0;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 5px;
  border-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.remove_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.remove_button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.remove_button:hover span {
  padding-right: 25px;
}

.remove_button:hover span:after {
  opacity: 1;
  right: 0;
}

.increment_decrement_cart_quantity {
  position: absolute;
  right: 0.5rem;
  bottom: 105px;
}

.remove_button_incDec {
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
}

.remove_button_incDec:focus {
  outline: none;
}

.increment_decrement_cart_quantity span {
  margin: 0 7px;
  font-size: 1rem;
  color: var(--secondary);
}

/* cart page details  */

.cart_price_details {
  display: flex;
  /* align-items: center; */

  gap: 5rem;
  justify-content: space-between;
  margin: 2rem 4rem;
  align-items: center;
}

.cart_content {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  align-items: center;
  gap: 0.5rem;
  height: 78vh;
  overflow: scroll;
  overflow-x: hidden;
  justify-content: center;
}

.price_container {
  width: 40vw;
  padding: 1rem 2rem 2rem 2rem;
}

/* .price_container:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
} */

.price_container p {
  margin: 0.5rem 0;
}

.price_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

/******************* responsive media queries *********************/
@media screen and (min-width: 768px) {
  .product_filter_main_container {
    height: 87vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    accent-color: var(--primary);
    scroll-behavior: smooth;
    margin: auto;
    padding: 1rem 0.5rem;
  }
  .product_main_content {
    width: 100%;
    padding-left: 2rem;
    margin-top: 1px;
    position: relative;
    top: 0;
    left: 0;
  }

  .product_container {
    display: grid;
    grid-template-columns: 250px 1fr;
    position: relative;
  }

  .filter_icon svg {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .product_filter_main_container {
    height: 87vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    accent-color: var(--primary);
    scroll-behavior: smooth;
    margin: auto;
    padding: 1rem 0.5rem;
  }
  .product_main_content {
    width: 100%;
    padding-left: 2rem;
    margin-top: 1px;
    position: relative;
    top: 0;
    left: 0;
  }

  .product_container {
    display: grid;
    grid-template-columns: 250px 1fr;
    position: relative;
  }
  .filter_icon svg {
    display: none;
  }
}
