:root{
  --primary : #05668d;
  --secondary :#333136;
  --tertiary : #ACDAF2;
  --white : #EFF8FF;
  --red : red;
}
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


.product_container{
  display: grid;
  grid-template-columns: 250px 1fr;
  position: relative;
  
}

.product_filter_main_container hr{
  margin: 1rem 0;
}

.filters_heading{
margin-bottom: 0.5rem;
}

.product_filter_main_container .padding_bottom{
  /* padding-bottom: 1rem; */
  margin-bottom: 0.5rem;
}

.product_filter_main_container{
   height: 87vh;
   width: 100%;
   overflow: scroll;
   overflow-x: hidden;

   margin:  auto;
   padding: 1rem 0.5rem; 
}

.product_filter_container{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.product_navlink{
  font-size: 1.4rem;
  text-decoration: none;
  
}

.product_main_content{
  /* border: 1px solid red; */
  width: 100%;
  padding-left: 2rem;
  margin-top: 1px; 
}


.product_price_title{
  margin-bottom: 0;
}

.product_slider{
  accent-color: grey;
  outline: none;
  width: 80%;
  margin: auto;
}

.product_slider_value{
   display: flex;
   justify-content: space-between;
   margin-left: 4px;
   width: 80%;
}

/* .product_aside_content{
  border: 1px solid green;
} */

.product_aside_content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  gap: 12px;
  width: 100%;

  overflow: scroll;
  height: 88vh;
  overflow-x: hidden;
  
}

.product_aside_content_figures{

 display: flex;
 flex-direction: column;
 gap: 0.2rem;



 padding: 10px;

 position: relative;

  width: 240px;
  /* height: 340px; */

  /* margin: 0 auto; */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Maven Pro", sans-serif;
  overflow: hidden;
  border-radius: 6px;
  text-align: left;
  /* border-radius: 5px; */
  cursor: pointer;
}





.product_aside_content_figures img{
   width: 100%;
   height: 250px;
   object-fit: cover;
   border-radius: 5px 5px 0 0 ;
   /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2) ; */
}


.product_aside_content_figures h4, .product_aside_content_figures p {
  margin: 0;
}

.product_category_name p{
  font-size: 14px;
  margin-bottom: 2px;
}
.product_category_name h4{
  font-size: 18px;
  margin-bottom: 10px;
}

.product_rating_category{
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/* .product_category_name, .productPrice{
  padding: 4px;
} */

.productPrice{
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  padding: 4px;
}

.product_price del{
  color: red;
}

/* .productPrice h4{
  margin-bottom: 8px;
} */

.product_rating_figures{
  /* position: absolute; */
  /* z-index: 2; */
  /* top: 50%; */
  /* background-color: var(--primary); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
  border-radius:0 5px 5px 0;
  color: var(--primary);
  
}

.product_rating_icon{
  font-size: 18px;
}

.wishlist_button{
  position: absolute;
  z-index: 2;
  top: 14px;
  right: 14px;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border-radius: 0 0 0 5px ;
  cursor: pointer;
  outline: none;
 
}

.wishlist_button .wish_icon{
  font-size: 1.7rem;
  color: var(--red);
  stroke-width: 0px;
}


.product_aside_content_figures .add_button {
  margin: 8px 5px;
  font-size: 14px;
  padding: 8px 0;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 5px;
  border-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.add_button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.add_button span:after{
  content: '\00bb' ;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.add_button:hover span{
  padding-right: 25px;
}

.add_button:hover span:after{
  opacity: 1;
  right: 0;
}