.profile_main_container {
  display: flex;
  width: 500px;
  /* border: 1px solid red; */
  justify-content: space-evenly;
  margin: 10px auto;
}

.details_container,
.address_container {
  width: 50%;
  height: 50px;
}

.details_container:hover,
.address_container:hover {
  box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.2),
    0px 2px 4px 0px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(255, 255, 255, 0.05) inset;
}

.details_container button,
.address_container button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-weight: 600;
  text-transform: uppercase;
}

.user_details_address_container {
  margin: 0 auto;
  padding: 10px;
  width: 500px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

.user_details_address_container:hover {
  box-shadow: 0px 9px 20px rgba(13, 38, 76, 0.19);
}

.user_details_section {
  text-align: left;
  width: 80vw;
  padding-left: 1rem;
  padding-top: 2rem;
  line-height: 3.5rem;
  /* border: 1px solid var(--primary); */
  margin: 0 auto;
}

.user_details_section button {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
}

.user_details_section button:hover {
  background-color: var(--red);
  color: var(--white);
  outline: none;
  border: none;
}

.user_details_section img {
  width: 150px;
  height: 100px;
  margin: 0 auto;
}

/************** address page css ***************/

/* Address Form Styles */
.address_form_container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  /* position: relative; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px;
  text-align: center;
  z-index: 1001;
}



.address_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.address_form_buttons{
  display: flex;
  gap: .2rem;
  width: 80%;
  justify-content: space-between;
  }


.address_form_buttons button:nth-child(4){
  background-color: var(--red);
}
.address_form_buttons button:nth-child(1){
  background-color: var(--primary);
}
.address_form_buttons button:nth-child(3){
  background-color: yellowgreen;
}



/* Close Button Styles */
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}

.close-button:hover{
  font-weight: 800;
  font-size: 34px;
  transition: .3s ease-in-out;
}

/* Form Input Styles */
.input-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}


.modal-overlay {
  position: fixed; 
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px); 
  border-radius: 10px;
  
}



.address_form_container {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 80%; 
  max-width: 620px; 
  text-align: center;
  position: absolute;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #666;
}


.address_form input[type="text"],
.address_form input[type="tel"],
.address_form select,
.address_form textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.address_form button {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}




/****************************** adderss pages ends header ****************************************/

/* profile navbar */
.profile_navigator {
  margin: 2rem auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding: 10px;
}

.profile_navlink {
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  width: 500px;
}

.nav_active {
  background-color: white;
  color: var(--primary);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 20px;
  width: 80vw;
}

.nav_inactive {
  background-color: var(--primary);
  text-decoration: none;
  font-size: 1rem;
  color: var(--white);
  padding: 20px;
  font-weight: 500;
  width: 80vw;
}

/******************** order details *******************************/

.order_container {
  margin: 0 auto;
  border: 1px solid #bfdbfe;
  width: 360px;
}

.order_main_details {
  padding: 5px;
  /* width: 400px; */
  text-align: center;
  line-height: 28px;
  font-size: 20px;
}

.order_details_div {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

.order_items_container {
  height: 160px;
  overflow: scroll;
  overflow-x: hidden;
}

.order_details_div img {
  width: 150px;
  height: 100%;
  border-radius: 5px;
}
.order_summary {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 0.7rem;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}

.order_summary span {
  color: grey;
  text-decoration: line-through;
}

.order_payment_details span {
  color: grey;
}

/************************* Responsive media queries ******************************/

@media screen and (min-width: 768px) {
  .profile_navigator {
    margin: 2rem auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    padding: 10px;
  }
  .nav_active {
    background-color: white;
    color: var(--primary);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px;
    width: 500px;
  }
  .nav_inactive {
    background-color: var(--primary);
    text-decoration: none;
    font-size: 1rem;
    color: var(--white);
    padding: 20px;
    font-weight: 500;
    width: 500px;
  }

  .user_details_section {
    text-align: left;
    width: 480px;
    border: 1px solid var(--primary);
    padding-top: 2rem;
    padding-left: 4rem;
    line-height: 3.5rem;
    margin: 0 auto;
  }
  .form_container {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    /* border: 1px solid var(--primary); */
    width: 35vw;
    padding: 1.5rem;
  }

  .address_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .address_filled {
    display: flex;
    flex-wrap: wrap;
    width: 55vw;
    height: 220px;
    margin: 0 auto;
    padding: 0.4rem;
    gap: 0.7rem;
    overflow: scroll;
  }

  .two_address_field {
    display: flex;
    flex-direction: column;
  }
  .address_buttons {
    display: flex;
    flex-direction: row;
    gap: 14vw;
    justify-content: flex-start;
    margin: 1rem 0 0 0;
    width: 45vw;
    box-sizing: border-box;
  }
  .address_two_btns_first,
  .address_two_btns_second {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5vw;
    width: 8vw;
  }

  .address_two_btns_first button,
  .address_two_btns_second button {
    font-size: 1.1rem;
    padding: 0.3rem;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    border: none;
  }
  .order_container {
    margin: 0 auto;
    border: 1px solid #bfdbfe;
    width: 500px;
  }

  /* .address_filled {
    display: flex;
    flex-wrap: wrap;
    width: 55vw;
    margin: 0 auto;
    gap: 0.7rem;
  } */

  .show_address {
    text-align: left;
    border-radius: 5px;
    width: 250px;
    height: 180px;
    padding: 0.7rem;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  }
  .show_address > p {
    margin: 0;
    padding: 0;
  }
  .show_address > p > span {
    font-weight: bold;
  }

  .show_address input {
    accent-color: var(--primary);
  }
  .show_address:hover {
    background-color:#047857;
    color: #fff;
  }
}
