.individual_data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  gap: 2rem;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.individual_img {
  position: relative;
  width: 320px;
  height: 420px;
}

.individual_img img {
  width: 320px;
  height: 420px;
  object-fit: cover;
}

.individual_details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  gap: 2rem;
}

.individual_details h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: -55px auto;
  text-align: center;
  z-index: 999;
}

.individual_data .individual_category {
  background: linear-gradient(
    104deg,
    rgba(0, 95, 89, 1) 0%,
    rgba(255, 255, 255, 1) 42%
  );
  padding-left: 3px;
}

.individual_data .individual_type {
  text-transform: uppercase;
  padding-left: 250px;
  background: linear-gradient(
    270deg,
    rgba(0, 95, 89, 1) 0%,
    rgba(255, 255, 255, 1) 42%
  );
  margin-top: 5px;
}

.individual_wishlist_btn {
  position: absolute;
  top: 5px;
  left: 285px;
  font-size: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--white);
  stroke-width: none;
}

.wish_null_hover:hover {
  color: red;
}

.wish_icon2 svg {
  color: red;
}

.add_button_individual {
  margin: 8px 5px;
  font-size: 14px;
  padding: 8px 0;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 5px;
  border-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.add_button_individual span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.add_button_individual span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.add_button_individual:hover span {
  padding-right: 25px;
}

.add_button_individual:hover span:after {
  opacity: 1;
  right: 0;
}

.individual_productPrice {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.individual_productPrice span {
  color: var(--tertiary);
  text-decoration: line-through;
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  .individual_data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    gap: 2rem;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  }

  .individual_img {
    position: relative;
    width: 400px;
    height: 450px;
  }

  .individual_img img {
    width: 400px;
    height: 450px;
    object-fit: cover;
  }

  .individual_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
  }

  .individual_details h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: -55px auto;
    text-align: center;
  }
  .individual_data .individual_type {
    text-transform: uppercase;
    padding-left: 176px;
    background: linear-gradient(
      270deg,
      rgba(0, 95, 89, 1) 0%,
      rgba(255, 255, 255, 1) 42%
    );
    margin-top: 5px;
  }

  .individual_wishlist_btn {
    position: absolute;
    top: 5px;
    left: 360px;
    font-size: 2rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--white);
    stroke-width: none;
  }
}
