.checkout_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

.checkout_price {
  width: 80%;
  padding: 1rem;
  margin: auto;
}

.checkout_address h3 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .checkout_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin: auto;
    padding: 2rem;
    width: 100vw;
  }
  .checkout_address {
    width: 60vw;
    height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
  }
  .checkout_price {
    width: 40vw;
    padding: 1rem;
    margin: auto;
  }
}
