@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root {
  --primary: #005f59;
  --secondary: #d9d7d7;
  --tertiary: grey;
  --white: #ffffff;
  --red: red;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
  /* border: none; */
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  /* /* width: 0.2rem; * */
  border-radius: 2rem;
}
