* {
  box-sizing: border-box;
}

/******************* Navbar start **************************/

.nav_section {
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  /* background-color: brown; */
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.3rem;
  height: 10vh;
  z-index: 999;
}
.nav_header {
  display: flex;
  align-items: center;
}

.nav_header .figure_F {
  color: var(--primary);
  font-size: 3rem;
  margin-left: 1px;
  font-family: "Dancing Script", cursive;
}

.nav_header .figure_igure {
  color: var(--primary);
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;
}

.nav_header .figure_renzy {
  color: var(--primary);
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;
}

.half_figure_name h1:nth-child(1) {
  margin-bottom: -10px;
}
.half_figure_name h1:nth-child(2) {
  margin-top: -24px;
  margin-left: -4px;
}

.nav_header img {
  width: 70px;
  object-fit: cover;
}

.nav_aside {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: absolute;
  right: -5rem;
  top: 10vh;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
}

.nav_aside svg {
  font-size: 1.6rem;
}

.show {
  display: flex;
  right: 0;
  opacity: 1;
  visibility: visible;
}
/* 
.nav_display {
  display: flex;
  transition: all 0.3s ease-in-out;
} */

.hamburger {
  color: var(--primary);
  font-size: 1.5rem;
}

.nav_aside .nav_links {
  text-decoration: none;
  color: var(--primary);
}

.cart_quantity,
.wish_quantity {
  position: relative;
}

.cart_length,
.wishlist_length {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  background-color: var(--secondary);
  border-radius: 999px;
  text-align: center;
  height: 22px;
  width: 22px;
  transform: translate(50%, -50%);
}

/**************** Navbar end *************/

/**************** Hero Section start *************/

.hero_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  /* padding: 0 2rem; */
  border-radius: 5px;
  /* height: 600px; */
  width: 100%;

  align-self: center;
}

.hero_section img {
  width: 100%;
  height: auto;
}

.hero_section_content h1 {
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  color: var(--white);
  text-shadow: 2px 2px 5px var(--primary);
}

.hero_section_content {
  position: absolute;
  font-size: 30px;
}

.hero_section_content_input {
  display: none;
  width: 350px;
  height: 40px;
  border: 2px solid var(--primary);
  border-radius: 50px;
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
  color: var(--primary);
  background-color: transparent;
  text-align: center;
}

/**************** Hero Section end *************/

/**************** Hero categories start *************/
.hero_category_title {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary);
  margin: 2rem 0 2rem 0;
  font-weight: 700;
}

.hero_categories .hero_nav_link {
  text-decoration: none;
}

.hero_categories {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 2rem;
}

.hero_categories_card {
  border-radius: 999px;
}

.hero_categories_card img {
  width: 145px;
  height: 145px;
  border-radius: 999px;
  object-fit: cover;
}

.hero_categories li:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.19),
    0px 6px 6px 0px rgba(0, 0, 0, 0.23);

  /* width: 510px; */
}

.hero_categories .hero_text {
  color: var(--tertiary);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.hero_categories p {
  font-size: 0.7rem;
  text-align: left;
  text-transform: uppercase;
}

/**************** Hero categories end *************/

/********** Footer Section *************/
.footer_section {
  display: flex;
  flex-direction: column;
  color: var(--white);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  /* position: relative; */
  background-color: var(--primary);
}
.footer_section_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* position: absolute;

  z-index: 999;
  width: 100%;
  background-color: var(--primary); */
}

/* Responsive typography using media queries */

@media screen and (min-width: 768px) {
  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    height: 10vh;
  }

  .nav_aside {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    right: 0;
    gap: 2rem;
    padding: 0;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
  }

  .hamburger {
    display: none;
  }

  .hero_section_content p {
    display: block;
    font-size: 1.2rem;
    text-align: center;
    width: 60%;
    margin: auto;
  }

  .hero_section_content h1 {
    font-size: 2.2rem;
    text-align: center;
    width: 70%;
  }

  .hero_categories {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin: 0 2rem 2rem;
  }

  .hero_categories_card {
    border-radius: 999px;
  }

  .hero_categories .hero_text {
    color: var(--tertiary);
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
  }

  .hero_categories_card img {
    width: 220px;
    height: 220px;
    border-radius: 999px;
    object-fit: cover;
  }
  .hero_section_content_input {
    display: block;
    width: 350px;
    height: 40px;
    border: 2px solid var(--primary);
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
    color: var(--primary);
    background-color: transparent;
    text-align: center;
  }
  /* 
  .footer_section {
    background-color: var(--primary);
    color: var(--white);
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
  } */
}

@media screen and (min-width: 1024px) {
  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.7rem;
    height: 10vh;
  }

  .hero_section_content p {
    display: block;
    font-size: 1.7rem;
    margin: auto;
    width: 70%;
  }

  .hero_section_content h1 {
    font-size: 3.5rem;
    text-align: center;
    width: 100%;
  }

  .hero_categories {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    /* height: 350px; */
    margin: 0 2rem 2rem;
  }

  .hero_categories_card {
    border-radius: 999px;
  }

  .hero_categories .hero_text {
    color: var(--tertiary);
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  .hero_categories_card img {
    width: 300px;
    height: 300px;
    border-radius: 999px;
    object-fit: cover;
  }
  .hero_section_content_input {
    display: block;
    width: 350px;
    height: 40px;
    border: 2px solid var(--primary);
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
    color: var(--primary);
    background-color: transparent;
    text-align: center;
  }
  .spinner_homepage {
    height: 350px;
  }
}
